body{
  padding: 0;
  margin: 0;
}
.calculator {
  background-color: rgb(250, 145, 131);
  min-height: 100vh;
  display: grid;
  align-content: center;
}
.calculator-wrapper {
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
}

.cal-display-box {
  overflow: hidden;
  box-sizing: border-box
}

.cal-display-box input {
  width: 100%;
  border: 0;
  background-color: #f5f5f5;
  font-size: 35px;
  text-align: right;
  padding: 10px 5px;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.chooser{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 35px;
  margin-bottom: 3px;
  grid-gap: 3px;
}
.chooser select{
  border: 0 solid;
  font-size: 18px;
}

.cal-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 70px 70px;
  grid-gap: 3px;
  overflow: hidden;
  /* grid-auto-flow: dense; */
}

.cal-button {
  background-color: #eaeaea;
  text-align: center;
  display: grid;
  align-items: center;
  cursor: pointer;
  font-size: 23px;
}